{
  "extends": [
    "plugin:@wordpress/eslint-plugin/esnext"
  ],
  "rules": {
    "indent": ["error", 4]
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "wp": "readonly",
    "jQuery": "readonly",
    "wpAjaxObject": "readonly"
  }
}
