//--------------------------------------------------------------
// Global Form Variables
//--------------------------------------------------------------

// Buttons
$color-button-background: $color-dove-gray;
$color-button-background-hover: $color-mineshaft;
$color-button-text: $color-white;

// Inputs
$color-input-border: $color-silver;
$color-input-focus-text: $color-scarpa-flow;
$color-input-text: $color-scarpa-flow;

$padding-input: rem(12) rem(20) rem(13);
