//--------------------------------------------------------------
// Accessibility
//--------------------------------------------------------------

// Hide text meant only for screen readers
.screen-reader-text {
	@include size(rem(1));

	clip: rect(rem(1), rem(1), rem(1), rem(1));
	overflow: hidden;
	position: absolute;
	white-space: nowrap; // do not smuch text in screen readers.

	&:focus {
		@include size(auto);
		@include position(relative, rem(5) 0 0 rem(5));

		background-color: $color-background-screen-reader;
		border-radius: $border-radius;
		box-shadow: 0 0 rem(2) rem(2) rgba($color-black, 0.6);
		clip: auto;
		color: $color-text-screen-reader;
		display: block;
		font-size: rem(14);
		font-weight: 700;
		line-height: normal;
		padding: rem(15) rem(23) rem(14);
		text-decoration: none;
		z-index: 100000; // Above WP toolbar
	} // &:focus
} // .screen-reader-text
