//--------------------------------------------------------------
// Pattern Library
//--------------------------------------------------------------

//-----------------------------------------
// Pattern defaults
//-----------------------------------------
.pattern-section {
	border-bottom: rem(1) solid $color-black;
	margin-bottom: $gutter * 2;

	// The section <header>
	&-header {

		// The title.
		h2 {
			@include margin-padding-reset;
		} // h2

		// The text.
		p {
			font-style: italic;
			margin-top: rem(12);
		} // p
	} // .pattern-section-header

	// The section content <div>
	&-content {
		border-bottom: rem(1) solid $color-gray;
		padding-bottom: $gutter;

		// Reset.
		h4,
		p {
			margin: $gutter 0;
		} // h4, p

		// The <pre> container.
		pre {
			background-color: $color-white;
			border: rem(1) solid $color-alto;
			color: $color-gray;
			margin: 0 0 $gutter;
			padding: $gutter;
		} // pre

		// The <code> container.
		code {
			background-color: $color-alto;
			font-size: rem(13);
			padding: rem(5);
		} // code
	} // &-content
} // .pattern-section


//-----------------------------------------
// Color swatch defaults
//-----------------------------------------
.swatch-container {
	@include clearfix;

	position: relative;

	// Each swatch.
	.swatch {
		@include size(100% rem(125));
		@include span-columns(3);

		border: rem(1) solid $color-black;
		border-radius: rem(5);
		margin-bottom: $gutter;
		position: relative;
		text-align: center;

		// The swatch <header>
		& header {
			color: $color-black;
			padding-top: rem(25);
		} // header

		// The swatch <footer>
		& footer {
			@include position(absolute, null null 0 null);

			background-color: $color-white;
			border-bottom-left-radius: rem(5);
			border-bottom-right-radius: rem(5);
			font-size: rem(12);
			padding: rem(10);
			width: 100%;
		} // footer
	} // .swatch
} // .swatch-container
