//--------------------------------------------------------------
// Typography
//--------------------------------------------------------------

body,
button,
input,
select,
textarea {
	color: $color-text-main;
	font-family: $font-serif;
	font-size: rem(20);
	font-weight: 400;
	line-height: $line-height-body;
} // body, button, input, select, textarea

//--------------------------------------------------------------
// Headers
//--------------------------------------------------------------

h1,
.h1 {
	font-family: $font-sans;
	font-size: rem(42);
	font-weight: 700;
} // h1, .h1

h2,
.h2 {
	font-family: $font-sans;
	font-size: rem(28);
	font-weight: 700;

	@include media($tablet-portrait) {
		font-size: rem(32);
	}
} // h2, .h2

h3,
.h3 {
	font-family: $font-sans;
	font-size: rem(22);
	font-weight: 700;

	@include media($tablet-portrait) {
		font-size: rem(28);
	}
} // h3, .h3

h4,
.h4 {
	font-family: $font-sans;
	font-size: rem(20);
	font-weight: 700;
	letter-spacing: rem(2);
	text-transform: uppercase;

	@include media($tablet-portrait) {
		font-size: rem(24);
	}
} // h4, .h4

h5,
.h5 {
	font-family: $font-sans;
	font-size: rem(20);
	font-weight: 700;

	@include media($tablet-portrait) {
		font-size: rem(24);
	}
}  // h5, .h5

h6,
.h6 {
	font-family: $font-sans;
	font-size: rem(18);
	font-weight: 700;

	@include media($tablet-portrait) {
		font-size: rem(20);
	}
} // h6, .h6

//--------------------------------------------------------------
// Copy
//--------------------------------------------------------------

p {
	font-family: $font-serif;
	font-size: rem(18);
	font-weight: 400;
	line-height: 1.6;
	margin: 0 0 rem(24) 0;

	@include media($tablet-landscape) {
		font-size: rem(20);
		line-height: 1.55;
		margin-bottom: rem(26);
	}
} // p

b,
strong {
	font-weight: 700;
} // b, strong

dfn,
cite,
em,
i {
	font-style: italic;
} // dfn, cite, em, i

blockquote,
q {
	color: $color-mid-gray;
	font-size: rem(18);
	margin: 0 0 0 rem(20);
	padding-left: rem(15);
	position: relative;

	&::before,
	&::after {
		content: "";
	}  // &::before, &::after

	&::before {
		@include position(absolute, rem(6) null null 0);
		@include size(rem(2) 90%);

		background-color: $color-buttercup;
		display: block;
	} // &::before
} // blockquote, q

address {
	margin: 0 0 rem(24) 0;
} // address

pre {
	font-family: $font-pre;
	font-size: rem(15);
	line-height: $line-height-pre;
	margin: 0 0 rem(24);
	max-width: 100%;
	overflow: auto;
	padding: rem(24);
} // pre

code,
kbd,
tt,
var {
	font-family: $font-code;
	font-size: rem(15);
} // code, kbd, tt, var

abbr,
acronym {
	border-bottom: none;
	cursor: help;
	text-decoration: none;
} // abbr, acronym

abbr[title] {
	text-decoration: none;
}

mark,
ins {
	text-decoration: none;
} // mark, ins

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
} // sup, sub

sup {
	bottom: 1ex;
} // sup

sub {
	top: 0.5ex;
} // sub

small {
	font-size: 75%;
} // small

big {
	font-size: 125%;
} // big

// Word Wrapping
.entry-title,
.entry-content,
.comments-title,
.comment-content,
.widget-title,
.widget {
	@include word-break;
} // .entry-title, .entry-content, .comments-title, .comment-content, .widget-title, .widget

// Links.
a:not(.button) {
	border-bottom: rem(2) solid $color-buttercup;
	font-style: italic;
	text-decoration: none;
	transition: color 0.18s ease-out;

	// Featured posts are now wrapped in <a>, don't add a border.
	&.featured-post {
		border: none;
	}
} // a:not(.button)

.entry-title {
	@extend .h2;

	line-height: 1.1363636; // 50 / 44

	@include media($breakpoint-500) {
		margin: rem(36) 0 rem(31);
	}

	@include media($tablet-landscape) {
		font-size: rem(38);
		margin: rem(42) 0 rem(25);
	}
} // .entry-title

// Post titles should NOT be italic or have border.
.entry-title a {
	border: none;
	font-style: normal;
} // .entry-title a

// Byline, posted on, and author.
.entry-meta {
	font-size: rem(18);
	font-style: italic;

	a {
		border: none;
		color: $color-mid-gray;
	} // a
} // .entry-meta
