//--------------------------------------------------------------
// Toggleable list
//--------------------------------------------------------------

//-----------------------------------------
// Dropdown toggle button
//-----------------------------------------
.dropdown-wrap {
	.dropdown-toggle {
		background: $color-white;
		border: none;
		border-radius: rem(3);
		color: $color-mid-gray;
		font-family: $font-serif;
		font-size: rem(18);
		font-weight: normal;
		padding: rem(14) rem(22) rem(13) rem(8);
		text-align: left;
		text-transform: none;

		svg {
			@include size(rem(28) rem(27));

			fill: $color-arrow-gray;
			float: right;
			margin-left: rem(15);
			margin-right: rem(-3);
			padding: 0;
			vertical-align: middle;
		} // svg
	} // .dropdown-toggle
} // .dropdown-wrap


//-----------------------------------------
// Dropdown list
//-----------------------------------------
.dropdown-wrap {
	display: inline-block;
	font-size: rem(18);
	position: relative;

	@include media($tablet-landscape) {
		width: 100%;
	}

	.dropdown-list {
		@include list-reset();
		@include position(absolute, 100% null null null);

		background: $color-white;
		display: none;
		width: 100%;

		&.open {
			display: block;
		} // &.open

		&.top {
			bottom: 100%;
			top: auto;
		} // &.top

		a {
			border-bottom: none;
			color: $color-sitelist-gray;
			display: block;
			padding: rem(10);
			text-align: center;

			&:hover,
			&:active,
			&:focus {
				background: $color-silver;
				color: $color-white;
				text-decoration: none;
			} // &:hover, &:active, &:focus
		} // a
	} // .dropdown-list
} // .dropdown-wrap
